:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

p {
  margin: 0;
  color: var(--gray-700);
}

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 243);
  margin: 0;
}

.content {
  display: flex;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #00000015;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.content h1 {
  margin-top: 1.75rem;
}

.content p {
  margin-top: 1rem;
}

#span-title {
  color: var(--pill-accent);
}

#description-title {
  margin-top: 1rem;
  color: var(--gray-900);
  font-weight: 500;
  letter-spacing: -0.03rem;
}

#title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

#shortner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #00000015;
}

#shortner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

#container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

#shortner-container h2 {
  font-size: 1.3rem;
  color: var(--gray-900);
  font-weight: 400;
  line-height: 100%;
  margin: 0;
  margin-top: 1rem;
  color: var(--gray-900);
  font-weight: 500;
  letter-spacing: -0.03rem;
}

input {
  width: 25rem;
  height: 1.5rem;
  padding: 0.2rem 0.3rem;
  border: 1px solid #00000015;
  font-size: 0.9rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: var(--pill-accent);
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#url-shortened-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }

  .divider {
    height: 1px;
    width: 100%;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    margin-block: 1.5rem;
  }
}