<main class="main">
  <div class="content">
    <div id="title-container">
      <h1 id="title">Encurta <span id="span-title">Url</span></h1>
      <p id="description-title">Encurte URLs de sua preferência para facilitar o compartilhamento.</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="shortner-container">
      <h2>Cole sua URL para encurtar</h2>
      <div id="container-button">
        <input formControlName="originalUrl" type="text" placeholder="URL a ser encurtada">
        <input formControlName="slug" type="text" placeholder="Apelido(Opcional)">
        <button type="submit" [disabled]="form.invalid">Encurtar</button>
      </div>

      <div id="url-shortened-container">
        <input formControlName="urlShortened" type="text" readonly placeholder="URL encurtada">
        <button>Copiar</button>
      </div>
    </form>
  </div>
</main>
<router-outlet />
